<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newtranx.cloud.edit.dao.DocJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.newtranx.cloud.edit.entities.DocJob">
        <id column="id" property="id" />
        <result column="task" property="task" />
        <result column="promoter" property="promoter" />
        <result column="executor" property="executor" />
        <result column="complete_date" property="completeDate" />
        <result column="task_status" property="taskStatus" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertReturnId" parameterType="com.newtranx.cloud.edit.entities.DocJob" keyProperty="id" useGeneratedKeys="true">
        insert into doc_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="task != null">
                task,
            </if>
            <if test="promoter != null">
                promoter,
            </if>
            <if test="executor != null">
                executor,
            </if>
            <if test="completeDate != null">
                complete_date,
            </if>
            <if test="taskStatus != null">
                task_status,
            </if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="task != null">
                #{task},
            </if>
            <if test="promoter != null">
                #{promoter},
            </if>
            <if test="executor != null">
                #{executor},
            </if>
            <if test="completeDate != null">
                #{completeDate},
            </if>
            <if test="taskStatus != null">
                #{taskStatus},
            </if>
        </trim>

    </insert>

</mapper>
