<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.newtranx.cloud.edit.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.newtranx.cloud.edit.entities.User">
        <id column="user_id" property="userId" />
        <id column="username" property="username" />
        <id column="password" property="password" />
        <id column="mobile" property="mobile" />
        <id column="nick_name" property="nickName" />
        <id column="login_time" property="loginTime" />
        <id column="last_login_time" property="lastLoginTime" />
        <id column="count" property="count" />
        <id column="create_time" property="createTime" />
        <id column="update_time" property="updateTime" />
    </resultMap>

    <sql id="tableName">`user`</sql>

    <!--根据项目ID查询关联文件-->
    <select id="getUserByProjectId" parameterType="long" resultMap="BaseResultMap">
        select * from <include refid="tableName"/>
        where user_id in (
            select tu.user_id from team_user tu left join project p on tu.team_id = p.team_id
            where p.project_id=#{projectId}
        )
    </select>

</mapper>


